:root {
  /* Colors */
  --main-color-gray: #DCDCDC;
}

#sec_bio {
  background-color: var(--main-color-gray);
}
#sec_grid {
  background-color: var(--main-color-gray);
}
h2 div {
  border: double;
}
