body {
  color: black;
  background: light gray;
  front-family: Roboto
}

h1 {
  color: red;
}
h3 {
  border: double
}
<div class="container">
  <div class="row">
    <div class="col-sm">
      To be filled 1
    </div>
    <div class="col-sm">
      To be filled 2
    </div>
    <div class="col-sm">
      To be filled 3
    </div>
  </div>
</div>
