:root {
  /*Fonts*/
  --main-font-1: Roboto;
  --main-font-2: Arial;
  /* Colors */
  --main-color-gray: #DCDCDC;
}

#sec_bio {
  background-color: var(--main-color-gray);
}

#sec_grid {
  background-color: var(--main-color-gray);
  align: center;
  font: var(--main-font-2)
}
